node_modules/
.DS_Store
supply-chain/src/pages/*
supply-chain/.cache/
supply-chain/data/
supply-chain/public/
supply-chain/coverage/
data/providers_bq.csv
htmlcov/
coverage/*.xml
.coverage
*.code-workspace
.venv/

Pipfile
Pipfile.lock

# Test output files
tests/N1.mdx
tests/N2.mdx
tests/S1.mdx
tests/provision.js
