# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: "supply-chain/src/components/__tests__/__snapshots__|supply-chain/patches"
    -   id: end-of-file-fixer
        exclude: "supply-chain/patches"
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-json
-   repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.24.0
    hooks:
    -   id: eslint
        additional_dependencies:
        -   eslint@8.57
        -   eslint-plugin-react
        -   "@babel/eslint-parser"
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
    -   id: isort
-   repo: https://github.com/ambv/black
    rev: 24.8.0
    hooks:
    -   id: black
        language_version: python3
-   repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
    -   id: flake8
-   repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.2.0
    hooks:
    -   id: sqlfluff-lint
    -   id: sqlfluff-fix
