body {
  padding: 0;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

a {
  cursor: pointer;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: #1976d2;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* Come back to this */
.MuiPopover-paper{
  width: 415px !important;
  max-height: 500px !important;
}

