body {
  padding: 0;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

a {
  cursor: pointer;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: #1976d2;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* Come back to this */
.MuiPopover-paper{
  width: 415px !important;
  max-height: 500px !important;
}

.arrow {
  pointer-events: none;
}

.arrow__path {
  stroke: #000;
  fill: transparent;
  stroke-dasharray: 4 2;
}

.arrow__head line {
  stroke: #000;
  stroke-width: 1px;
}

.graph-node{
  width: 150px;
  z-index: 9000;
}

.graph-node:hover{
  border: 3px solid red;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
