@import "../../node_modules/@eto/eto-ui-components/dist/styles/colors.css";
@import "../../node_modules/@eto/eto-ui-components/dist/styles/fonts.css";

body {
  padding: 0;
  margin: 0;
  font-family: GTZirkonRegular, "Roboto","Helvetica","Arial",sans-serif;

  --bright-blue-light-hsl-g100: hsl(215, 100%, 50%);
  --bright-blue-light-hsl-g80: hsl(215, 100%, 60%);
  --bright-blue-light-hsl-g60: hsl(215, 100%, 70%);
  --bright-blue-light-hsl-g40: hsl(215, 100%, 80%);
  --bright-blue-light-hsl-g20: hsl(215, 100%, 90%);
}

p.MuiTypography-root {
  font-family: GTZirkonRegular, "Roboto","Helvetica","Arial",sans-serif;
}

h3.MuiTypography-root {
  font-family: GTZirkonMedium;
  font-size: 1.1rem;
}

a {
  cursor: pointer;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  color: #1976d2;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

/* Come back to this */
.MuiPopover-paper{
  width: 415px !important;
  max-height: 500px !important;
}

.MuiPaper-root.filter-bar {
  background-color: var(--bright-blue-lightest);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 20px 20px 35px 20px;
  width: calc(100% - 40px);

  .MuiTypography-root, .MuiFormLabel-root, .MuiButton-text {
    font-family: GTZirkonRegular;
    color: var(--bright-blue);
    text-transform: uppercase;
  }

  #concentration-checkbox {
    margin-bottom: 5px;
    color: var(--bright-blue);
    .MuiCheckbox-root {
      padding-right: 3px;
    }
    .Mui-checked {
      color: var(--bright-blue);
    }
  }

  #clear-button {
    text-transform: uppercase;
    font-size: 12px;
    color: var(--orange);
    font-family: GTZirkonRegular;
    border-color: var(--orange);
    font-size: 1rem;
    margin-left: 20px;
  }

  .gradient-legend {
    position: absolute;
    bottom: 10px;
    display: flex;
    font-size: 1rem;
    margin-left: 8px;
    font-family: GTZirkonLightItalic;
    font-weight: bold;
    .init-text {
      margin-right: 5px;
      text-transform: uppercase;
      color: var(--bright-blue);
      font-family: GTZirkonRegular;
    }
    .gradient-box-wrapper {
      margin: 0px 5px;
    }
    .gradient-box {
      width: 0.8rem;
      height: 0.8rem;
      display: inline-block;
      border: 1px solid var(--black);
      margin-left: -1px;
      &.gradient-100 {
        background-color: var(--bright-blue-light-hsl-g100);
      }
      &.gradient-80 {
        background-color: var(--bright-blue-light-hsl-g80);
      }
      &.gradient-60 {
        background-color: var(--bright-blue-light-hsl-g60);
      }
      &.gradient-40 {
        background-color: var(--bright-blue-light-hsl-g40);
      }
      &.gradient-20 {
        background-color: var(--bright-blue-light-hsl-g20);
      }
      &.unhighlighted {
        background-color: var(--grey-lightest);
      }
    }
  }
}

.MuiPaper-root.graph-node{
  z-index: 9000;
  background-color: var(--bright-blue-lightest);
  border-left: 10px solid var(--bright-blue-light);
  border-radius: 0px;
  padding: 20px 20px 10px 0px;
  .MuiTypography-root {
    font-family: GTZirkonRegular, "Roboto","Helvetica","Arial",sans-serif;
  }
  h3.MuiTypography-root {
    margin-left: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover{
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  .graph-node-icon {
    color: var(--bright-blue);
    margin-right: 5px;
  }
  h3.MuiTypography-root {
    margin-bottom: 10px;
  }
  .graph-sub-node {
    background-color: var(--bright-blue-lightest);
    font-size: 0.8rem;
    text-transform: uppercase;
    border-radius: 0px;
    width: calc(10px + 100%);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    p.MuiTypography-root {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-family: GTZirkonLight;
      text-indent: -1.8rem;
      padding-left: 1.8rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.stage-border {
  border-left: 10px solid var(--bright-blue);
  &.uncolored {
    border-color: var(--white);
  }
}

.stage-node-wrapper {
  position: relative;
  z-index: 10;
  & + .stage-border .MuiPaper-root.documentation-node {
    .documentation-node-description {
      width: 100%;
    }
  }
  .stage-node {
    background-color: var(--bright-blue-lightest);
    padding: 5px 5px;
    &:hover {
      cursor: pointer;
    }
    h3 {
      margin-left: 10px;
    }
    button {
      margin-left: 20px;
      font-family: GTZirkonRegular;
      text-transform: none;
      color: var(--bright-blue);
    }
  }
}

.graph-node, .stage-node {
  &.highlighted, .graph-sub-node.highlighted {
    background-color: var(--bright-blue-light);
    &.gradient-100 {
      background-color: var(--bright-blue-light-hsl-g100);
      color: var(--white);
      button {
        color: var(--white);
      }
    }
    &.gradient-80 {
      background-color: var(--bright-blue-light-hsl-g80);
      color: var(--white);
      button {
        color: var(--white);
      }
    }
    &.gradient-60 {
      background-color: var(--bright-blue-light-hsl-g60);
      button {
        color: var(--white);
      }
    }
    &.gradient-40 {
      background-color: var(--bright-blue-light-hsl-g40);
    }
    &.gradient-20 {
      background-color: var(--bright-blue-light-hsl-g20);
    }
  }
  &.unhighlighted, .graph-sub-node.unhighlighted {
    background-color: var(--grey-lightest);
    color: var(--grey-light);
    & > p > .graph-node-icon {
      color: var(--grey-light);
    }
    h3, button {
      color: var(--grey-light);
    }
  }
}

.stage-border, .stage-node {
  &.highlighted {
    &.gradient-100 {
      border-color: var(--bright-blue-light-hsl-g100);
    }
    &.gradient-80 {
      border-color: var(--bright-blue-light-hsl-g80);
    }
    &.gradient-60 {
      border-color: var(--bright-blue-light-hsl-g60);
    }
    &.gradient-40 {
      border-color: var(--bright-blue-light-hsl-g40);
    }
    &.gradient-20 {
      border-color: var(--bright-blue-light-hsl-g20);
    }
  }
  &.unhighlighted {
    border-color: var(--grey-lightest);
  }
}

.documentation-node {
  margin-top: 1px;
}
.map .documentation-node{
  margin-top: -15px;
}

.MuiPaper-root.documentation-node {
  background-color: var(--grey-lightest);
  border-top: 1px solid var(--bright-blue);
  border-radius: 0px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 5px;
  z-index: 5;
  .graph-node-wrapper {
    display: block;
  }
  .MuiTypography-root {
    font-family: GTZirkonLight;
  }
  p.MuiTypography-root {
    font-size: 0.9rem;
    text-align: left;
  }
  .MuiIconButton-root:hover {
    background-color: unset;
  }
  .icon {
    color: var(--bright-blue);
  }
  .star-icon {
    color: var(--black);
  }
  .graph-node-icon {
    margin-right: 5px;
    color: var(--bright-blue);
  }
  .lower-icons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      color: var(--bright-blue);
    }
  }
  &, .graph-sub-node {
    .node-heading {
      padding-bottom: 5px;
      padding-top: 5px;
      padding-right: 2px;
      &.selected-documentation-link {
        font-family: GTZirkonBold;
        background-color: var(--bright-blue-lighter);
        .graph-node-icon {
          color: var(--black);
        }
      }
      &.selected-node-child {
        background-color: var(--bright-blue-lighter);
      }
    }
  }
  .standalone-pane-heading p.MuiTypography-root {
    font-family: GTZirkonBold;
  }
  .variants-heading {
    font-family: GTZirkonBold;
    padding-left: 20px;
    &.selected-node-child {
      background-color: var(--bright-blue-lighter);
    }
  }
  .input-detail {
    .variants-heading {
      margin-left: 0px;
      padding-left: 0px;
    }
    .node-heading.selected-node-child,
    .variants-heading.selected-node-child {
      background-color: unset;
    }
  }
  .provision-heading {
    font-family: GTZirkonBold;
    margin-top: 10px;
  }
  .graph-node, .graph-sub-node {
    width: 100%;
    background-color: unset;
    color: var(--black);
    border: 0px;
    padding: 0px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: GTZirkonLight;
    p.MuiTypography-root {
      font-size: 0.8rem;
      text-transform: uppercase;
      text-align: left;
      text-indent: -1.8rem;
      padding-left: 1.8rem;
      &:hover {
        text-decoration: underline;
      }
      &.variants-heading {
        font-size: 0.9rem;
        text-transform: none;
        text-indent: 0px;
        &:hover {
          text-decoration: none;
          cursor: text;
        }
      }
    }
    &.standalone-pane-heading p.MuiTypography-root:hover {
      text-decoration: none;
    }
    &.minimap-light {
      background-color: var(--bright-blue-light);
    }
    &.minimap-dark {
      background-color: var(--bright-blue);
    }
  }
  .image-wrapper {
    height: 240px;
    overflow: hidden;
    margin-top: -20px;
    margin-right: -5px;
    img {
      width: 100%;
      height: auto;
      transform: translateY(-10%);
    }
    img:hover {
      cursor: pointer;
    }
    .icon-wrapper {
      position: absolute;
      right: 5px;
      stroke: white;
      stroke-opacity: 90%;
      stroke-width: 4px;
      paint-order: stroke;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .graph-sub-node:hover {
    text-decoration: underline;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  table {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
    td {
      vertical-align: top;
      width: 50%;
    }
  }
  .flag {
    margin-right: 5px;
  }
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  &.caption {
    float: unset;
  }
}

.caption {
  color: var(--grey);
  font-size: 0.8rem;
  font-family: GTZirkonLightItalic;
  float: left;
}

/* Mobile view styling */

.map-background {
  min-width: unset;
  padding: 0px 0px,
}

.stage-border {
  display: contents;
  .graph-node-wrapper {
    display: block;
    position: relative;
  }
}

.graph-arrows-wrapper {
  display: none;
}

.graph-node-connections-text {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-family: GTZirkonLight;
  .connection-text {
    .bold {
      margin-right: 5px;
    }
  }
}

.documentation-node-widescreen {
  display: none;
}
.documentation-node-mobile {
  display: block;
}

.documentation-node {
  margin-left: 0px;
  padding-left: 0px;
  .minimap {
    display: none;
  }
  .documentation-node-navigation {
    display: block;
  }
  .documentation-node-description {
    width: 70%;
  }
}

.stage-node {
  button {
    display: none;
  }
}

.stage-node-wrapper {
  & + .stage-border .MuiPaper-root.documentation-node {
    width: calc(100% - 15px);
  }
}

span.bold {
  font-family: GTZirkonBold;
}

@media (max-width: 1000px) {
  .documentation-node {
    .documentation-node-navigation {
      display: none;
    }
    .documentation-node-description {
      width: 100%;
    }
  }
}

/* Desktop styling */

@media (min-width: 1300px) {
  .map-background {
    min-width: 700px;
    padding: 0px 45px,
  }

  .stage-border {
    display: block;
    .graph-node-wrapper {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .graph-arrows-wrapper {
    display: unset;
    z-index: 1;
  }

  .graph-node-connections-text {
    display: none;
  }

  .documentation-node-widescreen {
    display: block;
  }
  .documentation-node-mobile {
    display: none;
  }

  .documentation-node {
    margin-left: 10px;
    .minimap {
      display: block;
    }
    .documentation-node-navigation {
      min-width: 20%;
      max-width: 300px;
    }
    .documentation-node-description {
      width: 60%;
    }
    &.standalone {
      .documentation-node-description {
        width: 85%;
      }
    }
  }

  .stage-node {
    button {
      display: inline-block;
    }
  }

  .stage-node-wrapper {
    & + .stage-border .MuiPaper-root.documentation-node {
      width: 75%;
    }
    .stage-node {
      border-left: 10px solid var(--bright-blue);
    }
  }
}
