<html>
<meta charset="utf-8">
<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<style>
		a{
			color: #3f51b5;
		}

    	body {
        	font-family: "Helvetica", "Arial", sans-serif;
        	font-weight: 400;
        	line-height: 1.5;
    	}

		p{
			font-weight: 400;
			line-height: 1.5;
			letter-spacing: 0.00938em;
		}

		h4{
			margin-top: 0px;
		}

		#article-body{
			margin: 50px 3% 70px 3%;
		}

		.text-section{
			margin-bottom: 20px;
		}

		#overview-container{
			margin: 0px 3% 20px 3%;
		}

	</style>
</head>
<body onload="initialize()">
	<div id="intro">
    	<div id="overview-container">
        	<div id="credits" class="text-section">
        		<h1>Supply Chain Explorer: <span style="font-weight:bold">{{node_name}}</span></h1>
        	</div>
        	<div id="overview" class="text-section">
        		<p>
        			This is an export from the Emerging Technology Observatory <strong>Supply Chain Explorer</strong> (<a target="_blank" rel="noreferrer" href="https://chipexplorer.eto.tech">https://chipexplorer.eto.tech</a>).
                    You can see the web version of this content at
                    <a target="_blank" rel="noreferrer" href="https://chipexplorer.eto.tech/?filter-choose=input-resource&input-resource={{node_id}}">
                        https://chipexplorer.eto.tech/?filter-choose=input-resource&input-resource={{node_id}}</a>.
        		</p>
        	</div>
    	</div>
	</div>
	<div id="article-body">
    	<div class="text-section">
    		<h2>{{node_name}}</h2>
    		<p>
    			{{node_description}}
    		</p>
			{% if node_countries.get("graph") or node_countries.get("undefined") %}
				<h4>Supplier countries</h4>
			{% endif %}
			{% if node_countries.get("graph") %}
				<img src="{{images_folder}}/{{node_id}}.jpg"/>
				{% if node_countries.get("undefined") %}
					<p>Other providers:</p>
				{% endif %}
			{% endif %}
			{% if node_countries.get("undefined") %}
				<ul>
					{% for node_country in node_countries["undefined"] %}
						<li>{{node_country}}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if node_orgs %}
				<h4>Notable supplier companies</h4>
				<ul>
					{% for node_org in node_orgs %}
						<li>{{node_org}}</li>
					{% endfor %}
				</ul>
			{% endif %}
			{% if node_variants %}
				<h4>Variants</h4>
				<ul>
					{% for node_variant in node_variants %}
						<li>{{node_variant}}</li>
					{% endfor %}
				</ul>
				{% if node_countries_variants %}
					<h4>Supplier countries (Variants)</h4>
					<ul>
						{% for node_country in node_countries_variants %}
							<li>{{node_country}}</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if node_orgs_variants %}
					<h4>Notable supplier companies (Variants)</h4>
					<ul>
						{% for node_org in node_orgs_variants %}
							<li>{{node_org}}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endif %}
    	</div>
	</div>
</body>
</html>
