name: Deployment
on:
  push:
    branches: 'main'

jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - uses: actions/checkout@v5
    - name: Get current date
      id: date
      run: echo "today=$(date +'%Y-%m-%d-%H-%M')" >> $GITHUB_OUTPUT
    - name: 'Authenticate to Google Cloud - building'
      id: 'auth_build'
      uses: 'google-github-actions/auth@v3'
      with:
        workload_identity_provider: 'projects/855475113448/locations/global/workloadIdentityPools/eto-github/providers/eto-github'
        service_account: 'eto-artifact-registry-github@gcp-cset-projects.iam.gserviceaccount.com'
        token_format: 'access_token'
    - name: 'Log into Artifact Registry'
      uses: 'docker/login-action@v3'
      with:
        registry: us-east1-docker.pkg.dev
        username: 'oauth2accesstoken'
        password: '${{ steps.auth_build.outputs.access_token }}'
    - name: Setup node
      uses: actions/setup-node@v5
      with:
        node-version: '22'
    - name: 'Cache node_modules'
      uses: actions/cache@v4
      with:
        path: supply-chain/node_modules
        key: js-${{ hashFiles('supply-chain/package-lock.json') }}
    - name: 'Get node_modules'
      working-directory: supply-chain
      run: |
        npm run artifactregistry-login
        npm install --force
    - name: Set up Python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: "3.10.15"
    - name: Build data files
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python3 scripts/preprocess.py
    - name: 'Build assets'
      working-directory: supply-chain
      run: |
        npm install -g gatsby-cli
        gatsby build
    - name: 'Authenticate to Google Cloud - deployment'
      id: 'auth_deploy'
      uses: 'google-github-actions/auth@v3'
      with:
        workload_identity_provider: 'projects/855475113448/locations/global/workloadIdentityPools/eto-github/providers/eto-github'
        service_account: 'eto-cd-github@gcp-cset-projects.iam.gserviceaccount.com'
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v3'
    - name: 'Copy built assets to cloud'
      id: 'gcloud'
      working-directory: supply-chain
      run: |
        gsutil -m cp -r public gs://eto-cd/supply-chain/${{ steps.date.outputs.today }}
    - name: 'Copy built assets to compute engine'
      id: 'compute-ssh'
      uses: 'google-github-actions/ssh-compute@v1'
      with:
        instance_name: 'semi-supply-chain-dev'
        zone: 'us-east1-c'
        project_id: 'gcp-cset-projects'
        user: 'eto-cd-github'
        ssh_private_key: '${{ secrets.GCP_SSH_PRIVATE_KEY }}'
        command: |
          gsutil -m cp -r gs://eto-cd/supply-chain/${{ steps.date.outputs.today }} .
          sudo rm -r /var/www/html/*
          sudo mv ${{ steps.date.outputs.today }}/* /var/www/html/
          rm -rf ${{ steps.date.outputs.today }}
          gsutil -m rm -r gs://eto-cd/supply-chain/${{ steps.date.outputs.today }}
